@{
    Layout = null;
}
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li>@Html.ActionLink("BasicLine", "BasicLine", "SampleBoard")</li>      
        <li>@Html.ActionLink("AjaxLoad", "AjaxLoad", "SampleBoard")</li>      
        <li>@Html.ActionLink("DataLabels", "DataLabels", "SampleBoard")</li>      
        <li>@Html.ActionLink("TimeSeriesZoomable", "TimeSeriesZoomable", "SampleBoard")</li>      
        <li>@Html.ActionLink("SplineInvertedAxes", "SplineInvertedAxes", "SampleBoard")</li>      
        <li>@Html.ActionLink("SplineWithSymbols", "SplineWithSymbols", "SampleBoard")</li>      
        <li>@Html.ActionLink("SplineWithPlotBands", "SplineWithPlotBands", "SampleBoard")</li>      
        <li>@Html.ActionLink("TimeDataWithInrregularIntervals", "TimeDataWithInrregularIntervals", "SampleBoard")</li>      
        <li>@Html.ActionLink("ScatterPlot", "ScatterPlot", "SampleBoard")</li>      
        <li>@Html.ActionLink("PieChart", "PieChart", "SampleBoard")</li>   
        <li>@Html.ActionLink("DonutChart", "DonutChart", "SampleBoard")</li>   
        <li>@Html.ActionLink("PieWithLegend", "PieWithLegend", "SampleBoard")</li>   
        <li>@Html.ActionLink("ColumnLineAndPie", "ColumnLineAndPie", "SampleBoard")</li>   
        <li>@Html.ActionLink("DualAxesLineAndColumn", "DualAxesLineAndColumn", "SampleBoard")</li>      
        <li>@Html.ActionLink("ScatterPlotWithRegressionLine", "ScatterPlotWithRegressionLine", "SampleBoard")</li>      
    </ul>
</div>